# Developer Portal > General Information > Application ID
DISCORD_APPLICATION_ID=your_application_id
# Developer Portal > Bot > Token (only used by the registration script)
DISCORD_BOT_TOKEN=your_bot_token
